{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <title>BigBoxx</title>
  <script type="text/javascript" src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'app.js' %}"></script>
  <link href="{% static 'app.css' %}" rel="stylesheet">
  {% block header %}
  {% endblock header %}
</head>

<body>
  <h1 onclick="window.location='/'">BigBoxx</h1>

  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  <hr>
  <div class="footer">
    <div class="col-sm-12 push-bottom">
      <p class="text-small muted push-bottom">
        <a href="http://ech.net" target="_home">©2019 Ech.net.</a>
        <a href="static/terms.html" target="_terms">Terms of use.</a>
      </p>
    </div>
  </div>
</body>
{% block footer %}
{% endblock footer %}
</html>
