{% extends "base.html" %}

{% block header %}
  <script type="text/javascript">
    var selectedBoxDefinitionId = 0;

    function boxDefinitionChange() {
      var value = $("#boxDefinitionList").val();
      if (value) {
        boxListingClicked(value);
      }
    }

    function boxDefTabClicked(n) {
      $("#boxDefinitionTab" + n).addClass("tabSelected").removeClass("tabUnselected");
      $("#boxDefinitionTab" + (3 - n)).addClass("tabUnselected").removeClass("tabSelected");
      $("#boxDefinitionContent" + n).show();
      $("#boxDefinitionContent" + (3 - n)).hide();
    }

    function loadBoxDefinitions() {
      $("#boxDefinitionList").empty();
      $("#boxDefinitionList").append($("<option>").text("Select a box"))
      Service.invoke("GET", "boxx", {}, function(results) {
        for (var i = 0, len=results.data.length; i < len; ++i) {
          $("#boxDefinitionList").append(renderBoxDefinition(results.data[i]));
        }
      });
    }

    function renderBoxDefinition(data) {
      return $("<option>").attr("value", data.id).text(data.name);
    }

    function boxListingClicked(id) {
      Service.invoke("GET", "boxx/" + id, {}, function(results) {
        selectedBoxDefinitionId = id;
        $("#boxDefinitionTable tbody")
          .empty()
          .append($("<tr><th>Name</th><td>" + results.data.name + "</td></tr>"))
          .append($("<tr><th>Details</th><td>" + results.data.details + "</td></tr>"))
          .append($("<tr><th>Average Return</th><td>" + results.data.average_return + "</td></tr>"))
          .append($("<tr><th>Hit Rate</th><td>" + results.data.hit_rate + "</td></tr>"))
        ;
        $("#boxDefinitionOutput").val(JSON.stringify(results.data, null, 2))
      });
    }

    function peekClicked(take) {
      Service.invoke("POST",
        "boxx/" + selectedBoxDefinitionId + (take ? "/take" : "/peek"),
        JSON.stringify({
          user_token: $("#userTokenInput").val(),
          series_token: $("#seriesTokenInput").val()
        }),
        function(results) {
          $("#actionOutput").val(JSON.stringify(results.data, null, 2))
        }
      );
    }

    function clearAll() {
      $("#boxDefinitionList").empty();
      $("#boxDefinitionOutput").val("")
      $("#actionOutput").val("")
    }

    Service.addApiKeyListener(function(e) {
      if (e.apiKey) {
        clearAll();
        loadBoxDefinitions();
        $(".mainStuff").show();
      }
      else {
        $(".mainStuff").hide();
      }
    });
  </script>
  <style>
    #boxDefinitionContent {
      width: 280px;
      overflow: none;
      padding: 10px;
    }
    #boxDefinitionTable {
      font-size: 12px;
    }
    #boxDefinitionOutput {
      border: none;
    }
    select {
      font-size: 18px;
    }
    li {
      display: inline-block;
      margin: 0px 10px;
    }
    .tabSelected {
      color: black:
      border-radius: 6px;
      border-left: solid 1px gray;
      border-top: solid 1px gray;
      border-right: solid 1px gray;
      padding: 3px;
    }
    .tabUnselected {
      cursor: pointer;
      color: blue;
      border-bottom: solid 1px gray;
      padding: 3px;
    }
  </style>
{% endblock header %}

{% block content %}
<div>
  <h2>Box Admin</h2>
  <p><span class="apiKeyWidget"></span><p>
  <p class="serviceErrorContainer serviceErrorText error"></p>
  <div class="mainStuff" style="display: none;">
    <p>Select a box from the list below. (If empty, go to the <a href="forge">forge</a> to create one.)</p>
    <select id="boxDefinitionList" onChange="boxDefinitionChange()"></select>
    <table><tbody>
    <tr>
      <td><h4>Box Definition Details</h4></td>
      <td><h4>Actions</h4></td>
      <td><h4>Results</h4></td>
    </tr>
    <tr>
      <td valign="top">
        <div>
          <span id="boxDefinitionTab1" class="tabSelected" onClick="boxDefTabClicked(1)">
            Summary
          </span>
          <span id="boxDefinitionTab2" class="tabUnselected" onClick="boxDefTabClicked(2)">
            Raw
          </span>
        </div>
        <div id="boxDefinitionContent">
          <div id="boxDefinitionContent1">
            <table id="boxDefinitionTable"><tbody>
            </tbody></table>
          </div>
          <div id="boxDefinitionContent2" style="display: none;">
            <textarea id="boxDefinitionOutput" readonly=readonly cols="40" rows="30">
            </textarea>
          </div>
        </div>
      </td>
      <td valign="top">
        Specify a user token (required):<br/>
        <input id="userTokenInput" type="text" style="width: 200px"><br/>
        Specify a series token (optional):<br/>
        <input id="seriesTokenInput" type="text" style="width: 200px"><br/>
        <button type="button" onclick="peekClicked(false)">Peek</button>
        <button type="button" onclick="peekClicked(true)">Take</button>
      </td>
      <td valign="top">
        <textarea id="actionOutput" readonly=readonly rows="30" cols="40">
        </textarea>
      </td>
    </tr></tbody></table>
  </div>
</div>
{% endblock content %}
