{% extends "base.html" %}

{% block content %}
  <h2>API Keys</h2>
  <p>
    All API calls must include a <code>X-Api-Key</code> HTTP header whose value is a string
    of ASCII characters representing an API key.  To obtain an API key, please email
    <a href="mailto:ech@ech.net">ech@ech.net</a>.
  </p>
  <h2>API URLs</h2>
  <p>
    The base URL of all API endpoints is <code>https://bigboxx.herokuapp.com/api/1.0/</code>. 
    All paths that appear in the API reference below are relative to this base URL.
  </p>
  <h2>Content Types</h2>
  <p>
    All request and response bodies are JSON.  The client must include a <code>Content-type: 
    application/json</code> header in all POST and PUT requests.
  </p>
  <h2>API Reference</h2>

<p>The "peek" and "take" endpoints are of interest to game developers.  The rest are useful
primarily to power the <a href="/forge">forge</a> and <a href="box_admin">box admin</a> UIs.</p>

<h3>GET boxx</h3>
<p>List IDs and titles of all box definitions.</p>
<p>Response: <pre>
{ "data": [
  { "id": 1, "name": "First Boxx" },
  { "id": 2, "name": "Second Boxx" }
] }</pre>
</p>

<h3>GET boxx/:id:</h3>
<p>Get details of a particular box definition.</p>
<p>Response: <pre>
{ "data": {
  "id": 2,
  "name":"Test Box",
  "details":"This is a test.","
  "size":262144,
  "amount_in":1,
  "hit_rate": 0.00611114501953125,
  "average_return":0.995635986328125,
  "outcomes":[{
    "name":"Jackpot",
    "details":"3 barracuda and a sperm whale",
    "probability":1,
    "amount_out":10000,
    "hit_rate": 0.000003814697265625,
    "average_return":0.03814697265625
  }]
}</pre>
</p>

<h3>POST boxx</h3>
<p>Validate and create a box definition.</p>
<p>Request: <pre>
{
  "title": "Test Box",
  "description": "This is a test.",
  "log2size": 18,
  "outcomes": [{
    "title": "Jackpot",
    "probability": 1,
    "amount_out": 10000
  },{
    "title": "3 cherries in a row",
    "probability": 1,
    "amount_out": 1000
  },{
    "title": "3 oranges in a row",
    "probability": 100,
    "amount_out": 500
  },{
    "title": "3 lemons in a row",
    "probability": 1000,
    "amount_out": 100
  }]
}
</pre>
</p>
<p>Response: if definition is valid, response is same as for GET /boxx/:id:</p>

<h3>POST validate-boxx</h3>
<p>Just validate a box definition. (As POST /boxx, but does not save the box definition.)</p>
<p>(Request and response as for POST /boxx, except that the response structure does not include an id field.)</p>

<h3>
<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1235 1175" width="24.7" height="23.5">
<path fill="#de0000" d="M0,449h1235l-999,726 382-1175 382,1175z"/>
</svg>
POST boxx/:id:/peek
</h3>
<p>
Find or create an unconsumed card of the given box definition
and the series identified in the POST body, assigned to the user identified in the POST body.
Return the card details.</p>
<p>Request: <pre>
{ "user": "u12345",
  "series": "s67890",
}</pre>
</p>
<p>(user is required; series is not.)</p>
<p>Response: <pre>
{
  "data": {
    "box_id": 6,
    "outcome": {
      "name": "3 Stars",
      "probability": 31,
      "amount_out": 500
    },
    "user_token": "u12345",
    "consumed": false
  }
}</pre>
</p>

<h3>
<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1235 1175" width="24.7" height="23.5">
<path fill="#de0000" d="M0,449h1235l-999,726 382-1175 382,1175z"/>
</svg>
POST boxx/:id:/take</h3>
<p>
Find or create an unconsumed card of the given box definition
and the series identified in the POST body, assigned to the user identified in the POST body.
Mark the card as consumed.  Return the card details.</p>
<p>Request and response: as for POST /box/:id:/peek, but response always has consumed=true.</p>

  <h2>Error Responses</h2>
  <p>
    Valid responses have HTTP status in [200..205].  All other statuses indicate errors.
    If the response content is JSON, information about the error may be found in the
    "details", "message" and "errors" fields of the JSON response body.
  </div>
{% endblock content %}
