{% extends "base.html" %}

{% block content %}
  <h2>API Keys</h2>
  <p>
    All API calls must include a <code>X-Api-Key</code> HTTP header whose value is a string
    of ASCII characters representing an API key.  To obtain an API key, please email
    <a href="mailto:ech@ech.net">ech@ech.net</a>.
  </p>
  <h2>API URLs</h2>
  <p>
    The base URL of all API endpoints is <code>https://bigboxx.herokuapp.com/api/1.0/</code>. 
    All paths that appear in the API reference below are relative to this base URL.
  </p>
  <h2>Content Types</h2>
  <p>
    All request and response bodies are JSON.  The client must include a <code>Content-type: 
    application/json</code> header in all POST and PUT requests.
  </p>
  <h2>API Reference</h2>

<h3>GET /boxx</h3>
<p>List IDs and titles of all boxx definitions.</p>
<p>Response: <pre>
{ "data": [
  { "id": 1, "title": "First Boxx" },
  { "id": 2, "title": "Second Boxx" }
] }</pre>
</p>

<h3>GET /boxx/:id:</h3>
<p>Get details of a particular boxx definition.</p>
<p>Response: <pre>
{ "data": {
  "id": 2,
  "title":"Test Box",
  "description":"This is a test.","
  log2size":18,
  "size":262144,
  "amount_in":1,
  "hit_rate": 0.00611114501953125,
  "average_return":0.995635986328125,
  "outcomes":[{
    "title":"Jackpot",
    "probability":1,
    "amount_out":10000,
    "hit_rate":3.814697265625e-06,
    "average_return":0.03814697265625
  }]
}</pre>
</p>

<h3>POST /boxx</h3>
<p>Validate and create a boxx definition.</p>
<p>Request: <pre>
{
  "title": "Test Box",
  "description": "This is a test.",
  "log2size": 18,
  "outcomes": [{
    "title": "Jackpot",
    "probability": 1,
    "amount_out": 10000
  },{
    "title": "3 cherries in a row",
    "probability": 1,
    "amount_out": 1000
  },{
    "title": "3 oranges in a row",
    "probability": 100,
    "amount_out": 500
  },{
    "title": "3 lemons in a row",
    "probability": 1000,
    "amount_out": 100
  }]
}
</pre>
</p>
<p>Response: as for GET /boxx/:id:</p>

<h3>POST /validate-boxx</h3>
<p>Just validate a boxx definition. (As POST /boxx, but does not save the boxx definition.)</p>
<p>(Request and response as for POST /boxx, except that the response structure does not include an id field.)</p>

<h3>POST /boxx/:id:/peek</h3>
<p>
Find or create an unconsumed card of the given boxx definition
and the series identified in the POST body, assigned to the user identified in the POST body.
Return the card details.</p>
<p>Request: <pre>
{ "user": "u12345",
  "series": "s67890",
}</pre>
</p>
<p>(user is required; series is not.)</p>
<p>Response: <pre>
{
  "data": {
    "outcome": {
      "title": "3 Stars",
      "amount_out": 500
    },
    "user_token": "u12345",
    "consumed": false
  }
}</pre>
</p>

<h3>POST /boxx/:id:/take</h3>
<p>
Find or create an unconsumed card of the given boxx definition
and the series identified in the POST body, assigned to the user identified in the POST body.
Mark the card as consumed.  Return the card details.</p>
<p>Request and response: as for POST /box/:id:/peek </p>

  <h2>Error Responses</h2>
  <p>
    Valid responses have HTTP status in [200..205].  All other statuses indicate errors.
    Information about the error may be found in the "details" field of the JSON response
    body.
  </div>
{% endblock content %}
