{% extends "base.html" %}

{% block header %}
  <script type="text/javascript">
    function startServiceWait() {
      $("#boxDefinitionOutput").val("")
      $("#boxDefinitionOutput").removeClass("error")
    }

    function endServiceWait() {
    }

    function showServiceError(error) {
      if (error.responseText) {
        console.log(error.responseText);
        $("#boxDefinitionOutput").val(error.responseText)
        $("#boxDefinitionOutput").addClass("error")
      }
    }

    function invokeService(method, path, data, onSuccess) {
      startServiceWait();
      $.ajax({
        type: method,
        url: "/api/1.0/" + path,
        data: data,
        contentType: "application/json",
        headers: { "x-api-key": $("#apiKeyInput").val() }
      })
      .done(onSuccess)
      .fail(showServiceError)
      .always(endServiceWait);
    }

    function validateClicked() {
      invokeService("POST", "validate-boxx", $("#boxDefinitionInput").val(), function(results) {
        $("#boxDefinitionOutput").val(JSON.stringify(results.data, null, 2))
      });
    }

    function saveClicked() {
      invokeService("POST", "boxx", $("#boxDefinitionInput").val(), function(results) {
        $("#boxDefinitionOutput").val("SAVED\n\n" + JSON.stringify(results.data, null, 2))
      });
    }

    $(document).ready(function() {
      $("#apiKeyInput").val("$$$$$$$$.TESTER.$$$$$$$$");
      apiKeyChanged();
    });
  </script>
  <style>
    .error {
      color: red;
    }
    svg {
      width: 70px;
      height: 70px;
    }
    svg:hover {
      fill: red;
    }
  </style>
{% endblock header %}

{% block content %}
<div>
  <h2>Box Definition Forge</h2>
  <p>Paste a JSON box definition into the box on the left. (Sample is provided.)</p>
  <p>Click the arrow to validate and get performance analysis numbers on the right.</p> 

  <table><tbody><tr>
    <td>
      <p>Paste JSON description here:</p>
      <textarea id="boxDefinitionInput" rows="30" cols="40">
    {
      "name": "Test Box",
      "details": "This is a test.",
      "log2size": 18,
      "outcomes": [{
        "name": "Jackpot",
        "probability": 1,
        "amount_out": 10000
      },{
        "name": "3 cherries in a row",
        "probability": 1,
        "amount_out": 1000
      },{
        "name": "3 oranges in a row",
        "probability": 100,
        "amount_out": 500
      },{
        "name": "3 blueberries in a row",
        "probability": 500,
        "amount_out": 200
      },{
        "name": "3 lemons in a row",
        "probability": 1000,
        "amount_out": 100
      }]
    }
      </textarea>
    </td>
    <td>
      <div style="width: 70; height: 70;" onclick="validateClicked()">
       <svg width="24" height="24" viewBox="0 0 24 24">
           <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
       </svg>
      </div>
    </td>
    <td>
      <p>Results:</p>
      <textarea id="boxDefinitionOutput" rows="30" cols="40">
      </textarea>
    </td>
  </tr></tbody></table>
  <p>
    To save your completed box definition, enter your API key below and click Save.  Your
    box definition will appear in the <a href="/box_admin">box admin.</a>
  </p>
  <p>
    <input id="apiKeyInput" type="text" onchange="apiKeyChanged()" style="width: 300px">
    <button type="button" onclick="saveClicked()">Save</button>
  </p>
</div>
{% endblock content %}
